<section id="contact" class="pb-5 pt-5">
    <div class="container">
        <div class="row">
            <h2 class="text-white">
                Converse conosco
            </h2>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="form-group col-12">
                        <label for="">Seu nome completo:</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="form-group col-12">
                        <label for="">Seu email:</label>
                        <input type="email" class="form-control"/>
                    </div>
                    <div class="form-group col-12">
                        <label for="">Seu telefone para contato:</label>
                        <input type="tel" class="form-control"/>
                    </div>
                    <div class="form-group col-12">
                        <label for="">Sua mensagem:</label>
                        <textarea  class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>