<header>
    <div class="pre-custom-nav fixed-top">
        <div class="container row m-auto">
            <div class="col-4">
                <p class="text-white m-0">
                    test
                </p>
            </div>
            <div class="col-8 ml-auto d-flex justify-content-end">
                <div class="row">
                    <p class="text-white d-flex justify-content-center align-items-center">
                        <i class="bi-telephone-fill mr-1"></i>
                        (16) 3969-2417
                    </p>
                    <p class="text-white d-flex justify-content-center align-items-center m-o">
                        <i class="bi bi-geo-alt-fill mr-1"></i>
                        Avenida Marechal Costa e Silva, nº 3425
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light custom-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/LogoSERVLEV_01Deitado.png"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-center align-items-center active" aria-current="page" href="#">
                            <i class="bi bi-house-fill mr-1"></i>
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-center align-items-center" href="#">
                            <i class="bi bi-megaphone-fill mr-1"></i>
                            Ofertas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-center align-items-center" href="#">
                            <i class="bi bi-book-fill mr-1"></i>
                            A nossa história
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-center align-items-center" href="#">
                            <i class="bi bi-person-lines-fill mr-1"></i>
                            Trabalhe conosco
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-center align-items-center" href="#">
                            <i class="bi bi-envelope-fill mr-1"></i>
                            Contato
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>