<footer>
    <div class="footer-body">
        <div class="container d-flex flex-row align-items-center justify-content-center">
            <div class="col-4 footer__column01">
                <img src="/assets/images/LogoSERVLEV_01Deitado.png" alt=""/>
            </div>
            <div class="col-8">
                <h2>Nosso endereço virtual é aqui!</h2>
                <p>asdijasdiasdopjkasopdkasdopasdskaopdkopakdasdop</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p class="text-white">
            Desenvolvido com <i class="bi bi-heart-fill ml-1 mr-1"></i>
             pela <strong class="ml-1 ">Fonsan</strong>.
        </p>
    </div>
</footer>